@use '/src/styles/mixins';

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4.5rem;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    z-index: 1000;
    align-items: center;
    background-color: var(--bg-main);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    padding: 0;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

.container {
    @include mixins.widthContainer;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 1rem;

    > div {
        display: flex;
        gap: 20px;
        align-items: center;
        height: 100%;
    }
}

.links {
    a {
        position: relative;
        color: var(--text-main);
        font-weight: 500;
        padding: 0.5rem 1rem;
        transition: color 0.1s ease-in-out;

        &::after {
            background-color: var(--highlight-main);
            bottom: -5px;
            content: '';
            height: 2px;
            left: 0;
            opacity: 0;
            position: absolute;
            transition: all 0.2s ease-in-out;
            width: 100%;
        }

        &:hover {
            color: var(--highlight-main);

            &::after {
                opacity: 1;
            }
        }
    }
}

.buttons {
    align-items: center;
    display: flex;
    height: 100%;

    a {
        align-items: center;
        background: linear-gradient(
            52deg,
            var(--highlight-main) 3%,
            #22b8cf 97%
        );
        border-radius: var(--border-radius);
        color: var(--text-secondary);
        display: flex;
        font-weight: 500;
        gap: 5px;
        padding: 0.5em 1em;
        transition: filter 0.15s ease-in-out;
        height: fit-content;

        &:hover {
            filter: brightness(90%);
        }

        svg {
            font-size: 1.2rem;
        }
    }
}

.langBtn {
    margin-right: 15px;
    position: relative;
    z-index: 10;
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--text-main);
    font-weight: 500;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease;

    @media (max-width: 768px) {
        font-size: 1.2rem;
    }

    &:hover {
        background-color: rgba(128, 128, 128, 0.1);
    }

    > span {
        align-items: center;
        justify-content: center;
        cursor: pointer;
        display: flex;
        gap: 2px;

        p {
            color: var(--text-main);
            font-weight: 500;
            margin: 0;
            display: flex;
            align-items: center;
        }

        svg {
            color: var(--text-main);
            font-size: 1.5rem;
            display: flex;
            align-items: center;
        }
    }
}

.imgContainer {
    @include mixins.imgContainer(60px, 70px);

    cursor: pointer;
}

.mobile {
    display: none;
    gap: 10px;
    align-items: center;
    height: 100%;

    > span:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-main);
        font-size: 2rem;
        cursor: pointer;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: flex !important;
    }
}

.mobileOpen {
    display: flex;
    @media (min-width: 768px) {
        display: none;
    }
}

.mobileClosed {
    display: none;
}

.mobileNav {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--bg-secondary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 20px 40px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    transition: transform 0.3s ease;
    max-height: 0;
    overflow: hidden;
    padding: 0 1em;

    &.mobileOpen {
        transform: translateY(0);
    }

    &.mobileClosed {
        transform: translateY(-100%);
    }

    button {
        width: 100%;
        padding: 1.2rem 0;
        background: linear-gradient(
            52deg,
            var(--highlight-main) 3%,
            #22b8cf 97%
        );
        color: var(--text-secondary);
        font-size: 1rem;
        cursor: pointer;
        border-radius: var(--border-radius);
        margin: 1rem 2rem;
        width: calc(100% - 4rem);
        transition: transform 0.2s ease;

        &:hover {
            transform: translateY(-2px);
        }
    }

    a {
        width: 100%;
        padding: 1.2rem 0;
        padding-left: 2rem;
        border-top: 1px solid rgba(128, 128, 128, 0.1);
        color: var(--text-main);
        font-size: 1rem;
        text-align: left;
        transition: background-color 0.2s ease;

        &:last-child {
            border-bottom: 1px solid rgba(128, 128, 128, 0.1);
        }

        &:hover {
            background-color: rgba(128, 128, 128, 0.05);
        }
    }
}

.langMenuOpen {
    max-width: 8rem !important;
    display: flex;
    gap: 5px;
}

.langMenuClosed {
    max-width: 0 !important;
    overflow: hidden;
    display: none;
}

.langMenu {
    position: absolute;
    top: 3.5rem;
    right: 0;
    flex-direction: column;
    width: 8rem;
    padding: 10px;
    border-radius: var(--border-radius);
    background-color: var(--bg-main);
    color: var(--text-main);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(128, 128, 128, 0.1);
    transition: all 0.2s ease-in-out;
    z-index: 120;
    
    &.langMenuOpen {
        max-width: 8rem;
        display: flex;
        gap: 5px;
    }
    
    &.langMenuClosed {
        max-width: 0;
        overflow: hidden;
        display: none;
    }

    span {
        display: flex;
        padding: 0.5rem 0;
        border-radius: var(--border-radius);
        background-color: transparent;
        color: var(--text-main);
        font-weight: 500;
        text-align: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;
        white-space: nowrap;

        &:hover {
            background-color: rgba(128, 128, 128, 0.1);
        }

        &.active {
            background-color: rgba(128, 128, 128, 0.15);
            font-weight: 500;
        }
    }
}

.themeBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: transform 0.3s ease;
    
    &:hover {
        transform: scale(1.1);
    }
    
    svg {
        color: var(--text-main);
    }
}

.scrolled {
    background-color: var(--bg-secondary);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 0.7em 0;
}
